[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pynacl = "*"

[dev-packages]
build = "*"
pytest-asyncio = "*"
pytest = "*"

[requires]
python_version = "3.13"

[scripts]
build = "python -m build"
test = "pytest -v --tb=short"